

<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Entries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form>
<div class="container">
  <h2>{{name}}, Below are your Income/Expense Entries</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Entry Type</th>
        <th>Amount</th>
        <th>Details</th>
          <th>Capture Date</th>
      </tr>
    </thead>

    <tbody>
    {% for item in list_values %}
      <tr>
        <td>{{item.entry_type}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.details}}</td>
        <td>{{item.capture_date}}</td>
        <td> <a href="/delete_entry/{{item.id}}" class="btn btn-danger btn-xs">Delete  </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</form>
</body>
</html>
